<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="h-screen w-screen">
    <div class="flex justify-between items-center w-full bg-blue-500 p-4">
        <nav class="flex justify-between items-center gap-4">
            <a href="{{ url_for('main.index') }}" class="text-white font-bold">Home</a>
            {% if current_user.id %}
            <a href="{{ url_for('main.profile') }}" class="text-white font-bold">Profile</a>
            {% endif %}
            {% if not current_user.id %}
            <a href="{{ url_for('auth.login') }}" class="text-white font-bold">Login</a>
            <a href="{{ url_for('auth.sign_up') }}" class="text-white font-bold">Sign Up</a>
            {% endif %}
            {% if current_user.id %}
            <a href="{{ url_for('auth.logout') }}" class="text-white font-bold">Logout</a>
            {% endif %}
        </nav>
    </div>
    <div class="flex justify-center items-center h-full w-full bg-blue-200">
        {% block content %}{% endblock %}
    </div>
</body>

</html>